body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
    line-height: 1.3;
}

main {
    display: flex;
    flex-direction:column;
    min-height: 20em;
}

.dice-utf8 {
    font-size: 3em;
    display: inline;
}

.shortInput
{
    width: 4em;
}

.big_message
{
    font-size: 2em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.table-bordered {
    border: 1px solid #ddd !important;
}

table {
    margin: 20px auto;
    table-layout: auto;
}

table,
td,
th {
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: solid 1px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

ul.hand-choice
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-top: -3rem;
}

li.dice-column
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0.6rem;
}

.dice {
    font-size: 4em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid red;
}

.books-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.book {
    display: flex;
    flex-direction:row;
    border-bottom: solid 1px #aaa;
}

.book-image,
.book-image img {
    width: 65px;
    max-height: 120px;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

table.scores-container {
    margin-left: 20px;
}
